/* CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --top-nav-height: 5rem;
    --side-nav-width: 13rem;

    --font-colour-primary: white;
    --font-colour-secondary: rgb(180, 180, 180);
    
    --bg-colour-primary: rgb(20, 20, 20);
    --bg-colour-secondary: rgb(31, 31, 31);
    --bg-colour-accent: rgb(170, 136, 84);

    --colour-border: rgb(65, 65, 65);

    --grid-gap: 2rem;
    --card-border-radius: 1.25rem;
    --card-padding: 1rem;
}

/* ==================== MATERIAL SYMBOL CUSTOMISATION ==================== */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 0;
}



/* ==================== REMOVE BROWSER STYLING ==================== */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/* ==================== DEFAULT STYLING ==================== */
body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: var(--font-colour-primary);
    background-color: var(--bg-colour-primary);


    /* not sure about these */
    user-select: none;
    overflow-x: hidden;
}

a {
    color: var(--font-colour-secondary)
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.2rem;
    font-weight: 400;
}

h3 {
    font-size: 0.87rem;
    font-weight: 400;
    transition: all 200ms ease;
}

.logo-colour {
    color: var(--bg-colour-accent);
}

.card-border {
    border: 1px solid var(--colour-border);
}

.content-card {
    display: grid;
    grid-template-rows: max-content 1fr;     
}

.content-card-header {
    padding: 0 4px 12px 4px;
}

.content-card > *:not(.content-card-header):not(.cards):not(#send-money) {
    background-color: var(--bg-colour-primary);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}



/* ==================== GRID CONTAINER ==================== */
.grid-container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: var(--side-nav-width) 1fr;
    grid-template-rows: var(--top-nav-height) 1fr;
    grid-template-areas:
        "logo top-nav"
        "side-nav main-content";
} 

    /* ==================== LOGO ==================== */
    .logo {
        grid-area: logo;
        position: fixed;
        top: 0;
        left: 0;
        height: var(--top-nav-height);
        width: var(--side-nav-width);
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .logo > a {
            color: var(--font-colour-primary)
        }

    /* ==================== SIDE NAV ==================== */
    .side-nav {
        grid-area: side-nav;
        position: fixed;
        top: var(--top-nav-height);
        left: 0;
        height: calc(100vh - var(--top-nav-height));
        width: var(--side-nav-width);
        color: var(--font-colour-primary);
        background-color: var(--bg-colour-primary);
        display: grid;
        grid-template-rows: repeat(6, 3.7rem) 1fr repeat(2, 3.7rem); 
    }

        .side-nav a {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-left: 32px;
            transition: all 300ms ease;
        }

        .side-nav a.active {
            color: var(--font-colour-primary);
            background-color: var(--bg-colour-secondary);
            margin-left: 0;
            padding-left: 16px;
        }

        .side-nav a:hover h3 {
            color: var(--font-colour-primary);
            font-size: 1rem;
        }

    /* ==================== TOP NAV ==================== */
    .top-nav {
        grid-area: top-nav;
        position: sticky;
        top: 0;
        color: var(--font-colour-primary);
        background-color: var(--bg-colour-primary);
    }

    /* ==================== MAIN CONTENT ==================== */
    .main-content {
        grid-area: main-content;
        background-color: var(--bg-colour-secondary);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2.5fr 5fr;
        grid-template-areas: 
            "left right";
        padding: var(--grid-gap);
        gap: var(--grid-gap);
    }
  
        /* ==================== LEFT ==================== */
        .left {
            grid-area: left;
            display: grid;
            grid-template-rows: 1fr max-content 3fr;
            gap: var(--grid-gap);
        }

            .balance {

            }

            .cards {
                height: 300px;
                position: relative;
            }

                .card-1 {
                    position: absolute;
                    overflow: hidden;
                    height: 240px;
                    width: 100%;
                    border-radius: 12px;
                    box-shadow: 0 15px 25px #0a0a0af0;
                    background-color: rgba(192, 98, 204, 0.5);  
                }

                .card-2 {
                    top: 18%;
                    position: absolute;   
                    overflow: hidden;
                    height: 240px;
                    width: 100%;
                    border-radius: 12px;
                    box-shadow: 0 5px 25px #0a0a0af0;
                    background-color: rgba(10, 82, 85, 0.95);   
                }

                    .face {
                        background: transparent;
                        height: 100%;
                        width: 100%;
                        padding: 24px;
                        display: grid;
                        grid-template-rows: 1fr 2fr;
                        font-weight: 500;
                    }

                        .face-top {
                            display: flex;
                            justify-content: space-between;
                            font-size: 1.1rem;
                        }

                        .face-bottom {
                            display: grid;
                            grid-template-rows: 1fr 1fr 1fr;
                            align-items: center;
                        }

                            .face-number {
                                z-index: 999;
                                font-family: 'Orbitron', sans-serif;
                                letter-spacing: 5px;
                                text-shadow: 2px 4px 4px rgb(0, 0, 0);
                            }

                            .face-valid {
                                display: grid;
                                grid-template-columns: repeat(2,max-content);
                                gap: var(--grid-gap);
                                align-items: center;
                                font-size: 0.9rem;
                                font-weight: 300;
                            }

                    .card-bg {
                        z-index: 0;
                        content: '';
                        position: absolute;
                        right: -40%;
                        bottom: -80%;
                        height: 340px;
                        width: 340px;
                        border-radius: 50%;
                        background: linear-gradient(#f00, #f0f);
                        
                    }

            #send-money {
                display: grid;
                grid-template-rows: repeat(4, max-content);
                gap: 32px;
            }

                .card-select {
                    height: 60px;
                    border-radius: 60px;
                    background-color: var(--bg-colour-primary);
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    

                }

                    select {
                        border: none;
                        margin-right: 25px;
                        font-size: 18px;
                        color: var(--font-colour-primary);
                        background-color: transparent;
                        appearance: auto;
                    }

                .form-input {
                    background-color: var(--bg-colour-primary);
                    border-radius: var(--card-border-radius);
                    padding: var(--card-padding);
                    display: flex;
                    flex-direction: column;
                }

                #send-money > button {
                    height: 60px;
                    border: 0;
                    border-radius: 60px;
                    font-size: 18px;
                    font-weight: 700;
                    color: var(--font-colour-primary);
                    background-color: var(--bg-colour-accent);
                }

        /* ==================== RIGHT ==================== */
        .right {
            grid-area: right;
            display: grid;
            grid-template-rows: 2fr 3fr;
            gap: var(--grid-gap);
        }

            .expenditure {

            }

            .recent-activity-header {
                display: flex;
                justify-content: space-between;
                }

            .recent-activity-header > ul {
                display: flex;
                align-items: center;
                font-size: 1rem;
            }

                .recent-activity-header > ul > li {
                    padding: 0 16px;
                    text-align: center;
                }

                .recent-activity-header > ul > li:nth-child(2) > a {
                    color: var(--font-colour-primary);
                }

                .recent-activity-header > ul > li:not(:first-child) {
                    border-left: 1px solid var(--colour-border);
                }

            .recent-activity {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

                .recent-activity > .table-scroll {
                    max-height: 570px;
                    width: 100%;
                    overflow: auto;
                }

                .recent-activity > .table-scroll::-webkit-scrollbar {
                    width: 12px;
                }

                .recent-activity > .table-scroll::-webkit-scrollbar-track {
                    background-color: var(--bg-colour-secondary);
                    border-radius: 10px;
                }

                .recent-activity > .table-scroll::-webkit-scrollbar-thumb {
                    background-color: var(--colour-border);
                    border-radius: 10px;
                }

                    .recent-activity > .table-scroll > table {
                        width: 100%;
                        padding-right: 16px;
                    }

                        .recent-activity > .table-scroll > table > tbody > tr > td {
                            height: 2.75rem;
                        }

                        span.transaction-type {
                            font-size: 0.75rem;
                            font-weight: 400;
                            color: rgb(156, 156, 156);
                        }

            


        

